.article-form-wrapper {
  padding: 0 10px;
  .title {
    margin: 24px 0;
  }

  .form-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
    gap: 10px;
    padding: 0 15px;
  }

  .tag-list {
    border: solid 1px #dddddd;
    padding: 15px;
  }
}

@media (max-width: 426px) {
  .article-form-wrapper .form-wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 769px) {
  .article-form-wrapper .form-wrapper {
    grid-template-columns: 70% 30%;
  }
}
